# Frontend ortam değişkenleri örneği
VITE_API_URL=http://localhost:5001

PORT=

# MongoDB Bağlantısı
MONGO_URI=


# JWT Ayarları
JWT_SECRET=
JWT_EXPIRES=

# Email SMTP Ayarları
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS= 
EMAIL_FROM=

# Frontend URL
CLIENT_URL=

# Backend API URL
VITE_API_URL=
