/* theme colors body.theme-dark {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

body.theme-light {
  background-color: #ffffff;
  color: #222222;
}

body.theme-turquoise {
  background-color: #1abc9c;
  color: #ffffff;
}

/* Tema butonu */
/* body.theme-dark .btnTheme {
  background-color: #444;
  color: #fff;
}

body.theme-light .btnTheme {
  background-color: #ddd;
  color: #222;
}

body.theme-turquoise .btnTheme {
  background-color: #16a085;
  color: #fff;
} */
